<!-- Pricing -->
{{ with site.GetPage "sections/contact-form" }}
  {{ if .Params.enable }}

  {{/* Contact Form */}}
  <section class="section" id="contact">
    <div class="container relative">
      <div class="row pb-20">
        {{ partial "page-header" (dict "Title" .Title "Description" .Params.subtitle) }}
      </div>
      <div class="row gy-5 pt-20">
        <div class="lg:col-5" data-aos="fade-left-sm">
          <div class="flex min-h-full flex-col">
            <h2 class="has-gradient md:mb-6">
              {{ .Params.contact_form.title | safeHTML }}
            </h2>

            <div class="mt-10 flex flex-col gap-4 md:gap-8 xl:mt-10">
              {{ range $index, $item := .Params.contact_form.list }}

              <div class="flex gap-4">
                <div
                  class="flex h-14 w-14 items-center justify-center rounded-lg bg-linear-to-b from-white/10 to-slate-800/25">
                  {{ partial "image" (dict "Src" $item.icon "Alt" "icon" "Class" "h-5 w-5" ) }}

                </div>

                <div>
                  <h3 class="tracking-none mb-3 text-lg/none">
                    {{ .title | safeHTML }}
                  </h3>

                  {{- $value := .value -}}
                  {{- $href := $value | safeURL -}}

                  {{- if (findRE `^\+?[0-9\s\-\(\)]+$` $value) -}}
                  {{- $href = printf "tel:%s" $value -}}
                  {{- else if (findRE `^[\w\.\-]+@[\w\.\-]+\.\w+$` $value) -}}
                  {{- $href = printf "mailto:%s" $value -}}
                  {{- end -}}

                  <a href="{{ $href | safeURL }}" class="text-lg/none opacity-70">
                    {{ $value | safeHTML }}
                  </a>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="lg:col-7 lg:ps-16" data-aos="fade-left-sm" data-aos-delay="200">
          <div class="rounded-2xl border border-white/5 bg-dark p-5 md:p-16">
            <form class="row g-4" action="{{ .Site.Params.contact_form_action }}" method="post">
              <div class="lg:col-6">
                <label for="name" class="form-label">
                  {{ T "first_name" }} <span class="text-red-500">*</span>
                </label>
                <input id="name" name="name" class="form-input" required type="text" />
              </div>
              <div class="lg:col-6">
                <label for="email" class="form-label">
                  {{ T "email" }} <span class="text-red-500">*</span>
                </label>
                <input id="email" name="email" class="form-input" required type="email" />
              </div>
              <div class="col-12">
                <label for="comapny-name" class="form-label">
                  {{ T "company_name" }}<span class="text-red-500">*</span>
                </label>
                <input id="comapny-name" name="company-name" class="form-input" required type="text" />
              </div>
              <div class="col-12">
                <label for="message" class="form-label">
                  {{ T "write" }} <span class="text-red-500">*</span>
                </label>
                <textarea id="message" name="message" class="form-input" required rows="3"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn rounded-full border-border text-white">
                  <span class="value">
                    <span data-content="Send Message">{{ T "send" }}</span>
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div aria-hidden="true"
           class="pointer-events-none absolute -top-14 right-[15%] -z-10 h-[358px] w-[816px] rotate-[-19deg] rounded-full from-secondary/40 from-40% via-secondary via-60% to-primary opacity-20 blur-[100px] bg-linear-[60deg] lg:opacity-40">
      </div>
    </div>
  </section>
  {{/* Contact Form */}}


  {{ end }}
{{ end }}
<!-- /Pricing -->
